* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid red; */
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: blue; */
}

.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    color: whitesmoke;
}

.navbar h1 {
    color: whitesmoke;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0px 30px;
}

.nav-links li:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid rgb(240, 44, 106);
    width: 70%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

li.ctn:hover::after {
    content: '';
    display: none;
}

.nav-links li:last-child {
    margin: 0px 0px;
    margin-left: 200px;
}

.nav-links li a {
    color: whitesmoke;
}

.ctn {
    padding: 8px 15px;
    background-color: rgb(240, 44, 106);
    border-radius: 30px;
}

.ctn:hover {
    background-color: rgb(243, 88, 137);
}

.humberger-menu {
    display: none;
}

.jumbotron img {
    width: 100%;
    height: 105vh;
    margin-top: -145px;
    background-size: cover;
}

.jumbotron h1,
h3 {
    color: whitesmoke;
    position: relative;
    top: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.jumbotron h1 {
    font-size: 70px;
    font-weight: 700
}

.jumbotron h3 {
    font-size: 25px;
    font-weight: 400;
}

.ctnj {
    position: absolute;
    left: 50%;
    margin-left: -70px;
    top: 50%;
    margin-top: 100px;
    color: whitesmoke;
    padding: 8px 15px;
    background-color: rgb(240, 44, 106);
    border-radius: 30px;
}

section {
    width: 80%;
    margin: 70px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
}

.row img {
    width: 90%;
    height: 40vh;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    margin: 20px auto;
}

p {
    margin: 0px 40px;
}

.events .ctn {
    margin-top: 30px;
    color: whitesmoke;
}

@media only screen and (max-width:992px) {
    .nav-links li:last-child {
        margin-left: 20px;
    }
}

@media only screen and (max-width:768px) {
    .navbar {
        padding: 0px;
        color: rgb(255, 255, 255);
        background-color: rgb(218, 91, 22);
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 90vh;
        justify-content: space-evenly;
        background-color: rgb(97, 22, 218);
        transition: all 0.3s ease;
        margin-top: -1000px;
        z-index: 100;
    }
    .toggle.nav-links {
        flex-direction: column;
        width: 100%;
        height: 90vh;
        justify-content: space-around;
        background-color: rgb(31, 6, 59);
        margin-top: 100px;
        z-index: 100;
    }
    .nav-links li {
        font-size: 20px;
        margin-bottom: -250px;
        margin-top: -150px;
    }
    .nav-links li:last-child {
        margin: 10px auto;
        margin-top: -150px;
    }
    .nav-links li a {
        color: rgb(255, 255, 255);
    }
    .humberger-menu {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 34px;
        right: 30px;
        cursor: pointer;
        z-index: 101;
    }
    .humberger-menu .ham {
        width: 100%;
        height: 3px;
        background-color: rgb(252, 252, 252);
        margin: 5px auto;
        border-radius: 20px;
        transition: all 0.3s;
    }
    .humberger-menu .ham.ham1.tog {
        transform: rotateZ(-45deg) translate(3px, 4px);
        margin-top: 8px;
    }
    .humberger-menu .ham.ham2.tog {
        display: none;
    }
    .humberger-menu .ham.ham3.tog {
        transform: rotateZ(45deg) translate(-1px, -8px);
        margin-top: 5px;
    }
    .jumbotron img {
        margin-top: -80px;
    }
    .jumbotron h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
    }
    .jumbotron h3 {
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: -70px;
    }
    .ctnj {
        left: 50%;
        margin-left: -60px;
        top: 50%;
        margin-top: 50px;
    }
    section {
        width: 100%;
        text-align: center;
    }
    .row {
        display: block;
    }
    .row .col {
        margin-bottom: 30px;
    }
    .row img {
        width: 90%;
        height: 40vh;
    }
}