* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(97, 22, 218);
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: absolute;
    top: 0px;
    left: px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.navbar h1 {
    color: whitesmoke;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0px 30px;
}

.nav-links li:last-child {
    margin: 0px 0px;
    margin-left: 300px;
}

.nav-links li a {
    color: whitesmoke;
}

.ctn {
    padding: 8px 15px;
    background-color: rgb(240, 44, 106);
    border-radius: 30px;
}

.humberger-menu {
    display: none;
}

@media only screen and (max-width:1200px) {
    .nav-links li:last-child {
        margin-left: 100px;
    }
}

@media only screen and (max-width:992px) {
    .navbar {
        padding: 0px;
        color: rgb(255, 255, 255);
        background-color: rgb(97, 22, 218);
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        background-color: rgb(97, 22, 218);
        transition: all 0.3s ease;
        margin-top: -700px;
    }

    .toggle.nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        background-color: rgb(97, 22, 218);
        margin-top: 100px;
    }

    .nav-links li {
        margin: -30px auto;
        font-size: 20px;

    }

    .nav-links li:last-child {
        margin: 20px 0px;
        margin-top: -30px;
    }

    .nav-links li a {
        color: rgb(255, 255, 255);
    }

    .humberger-menu {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 34px;
        right: 30px;
        cursor: pointer;
    }
}

.humberger-menu .ham {
    width: 100%;
    height: 3px;
    background-color: rgb(252, 252, 252);
    margin: 5px auto;
    border-radius: 20px;
}